<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pedalboard Maker</title>    
    <link rel="stylesheet" href="css/base.css" /> 
</head>
<body>

<form action='/resetPassword' method='post'>


    <input type="hidden" name="accountId" value="#{locals.accountId}">
    
 <label>
    New Password::
    <input type="password" name="password">
  </label>

	 	<input type="submit" value="Register Now"/>

</form>

</body> 
 
 
                

</html>
