	 
        
<div class="page-head">
    <h2>Editar Pedalboard</h2>
    <ol class="breadcrumb">
      <li><a href="#">Pedalboarda</a></li>
      <li><a href="#">Listar</a></li>
      <li class="active">Editar</li>
    </ol>
</div>
 
<div class="cl-mcont">     
	
    <div class="row">	
      		<div class="col-sm-3 col-md-3"> 
       <div class="block-flat">
          <ul class="nav nav-list treeview collapse">
            
        
           
          </ul>
       </div>
		
            </div> 
            <div class="col-sm-9 col-md-9"> 
              	<div class="form-group">
                          <label>Nome</label> <input type="name"  id="name" class="form-control" placeholder="ex.: Zakk Wylde - Ozzy Osbourne - 1988">
                 </div>   
                 
                 <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="button" id="btnPlug" class="btn btn-default"><i class="fa fa-chain"></i></button>
                        <button type="button" id="btnDelete" class="btn btn-default"><i class="fa fa-times-circle"></i></button>
                        <button type="button" id="btnSave" class="btn btn-default" ><i class="fa fa-save"></i></button>
                                                
                    </div> 
                </div>  
                
            	<canvas id="canvas" width="800" height="600">This text is displayed if your browser does not support HTML5 Canvas. </canvas> 
            </div>
                          
    </div>
    
  
 
                                     
</div>  

