
<div class="page-head">
				<a class="btn btn-success btn-lg pull-right" style="margin-top:10px;" href="#equipamentoUpload">Add Equipamento</a>
				<h2>Equipamentos Lancamentos Ofertas</h2>
				<ol class="breadcrumb">
				  <li><a href="#">equipamentos</a></li> 
				</ol>
</div>
<div class="cl-mcont"> 
  
			<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">							
							<h3>Lista Equipamentos Publicos</h3>
						</div>
						<div class="content">
							<div class="table-responsive">
							<table class="table no-border hover">
								<thead class="no-border">
									<tr> 
										<th style="width:30%;"><strong>Nome</strong></th> 
										<th style="width:15%;" class="text-center"><strong>Lançamento</strong></th>
                                        <th style="width:15%;" class="text-center"><strong>Oferta</strong></th>
									</tr>
								</thead>
								<tbody class="no-border-y" id="table-equipamentos">
									 
								</tbody>
							</table>		
							</div>
						</div>
					</div>				
				</div>
		 
				 
			</div>
</div>