 
 <div id="cl-wrapper" class="sign-up-container">

	<div class="middle-sign-up">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center"><img class="logo-img" src="assets/CleanZone/images/logo.png" alt="logo"/>Pedalboard Maker</h3>
			</div>
			<div>
				<form style="margin-bottom: 0px !important;" class="form-horizontal"  parsley-validate novalidate>
					<div class="content">
						<h5 class="title text-center"><strong>Reset Password</strong></h5>
              			<hr/>
              				<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
										<input type="email" name="email" parsley-trigger="change" parsley-error-container="#email-error" required placeholder="E-mail" class="form-control">
									</div>
                  					<div id="email-error"></div>
								</div>
							</div>  
            				<button class="btn btn-block btn-success btn-rad btn-lg" type="submit">Reset my Password</button>
							
					</div>
			  </form>
			</div>
		</div>
		<div class="text-center out-links"><a href="#">&copy; 2014 Your Company</a></div>
	</div> 
	
</div>
