

<div class="page-head">
			 	<h2>Adicionar Marcas</h2>
				 
			</div>
<div class="cl-mcont"> 
<div class="row">
    <div class="col-md-6">
        <div class="block-flat">
            <form>
             	<div class="form-group">
                          <label>Marca</label> <input type="marca"  id="marca" class="form-control" placeholder="">
                 </div>  
                <input type="submit" value="Salvar" class="btn btn-primary"  /> 
            </form>
        </div>
     </div> 
     <div class="col-md-6">
        <div class="block-flat">
                <div class="header">
                        <h3>Todas as Marcas</h3>
                </div>
                <div class="content">
                            <ul class=" list-group marca_list" />
               </div>
        </div>
      </div>
</div>


</div>
