

<div class="page-head">
    <h2>Pedalboard</h2>
    <ol class="breadcrumb">
      <li><a href="#">Pedalboard</a></li>
      <li><a href="#">Publicos</a></li>
      <li class="active">View</li>
    </ol>
</div>


<div class="cl-mcont">       
	 	
 	 
  
  
  
			<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">							
							<h3><%= Nome %></h3>
						</div>
						<div class="content text-center ">
						<canvas id="canvas" width="800" height="400">This text is displayed if your browser does not support HTML5 Canvas. </canvas> 
    		 
						</div>
					</div>				
				</div>
                
          <div class="col-md-12">
                            <div class="block-flat">
                                <div class="header">							
                                    <h3>Comentários</h3>
                                </div>
                                <div class="content">
                                
                                        
                                
                                            <div id="comentarios" class="list-group tickets"></div>
                                            <form class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">
                                             <div class="form-group">
                                                <label class="col-sm-3 control-label">Comentario</label>
                                                <div class="col-sm-6">
                                                  <textarea id="txtComentario" class="form-control"></textarea>
                                                </div>
                                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                              </div>
                                          </form>
                                </div>
                            </div>		
                    </div>	
			</div>
            
                                     
</div> 
 
  