<div class="page-head">
    <h2>Pedalboards</h2>
    <ol class="breadcrumb">
      <li><a href="#">Pedalboards</a></li> 
    </ol>
</div>
<div class="cl-mcont">    
    
    
			<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">							
							<h3>Pedalboards publicos</h3>
						</div>
						<div class="content">
							<div class="table-responsive">
							<table class="table no-border hover">
								<thead class="no-border">
									<tr>
										<th style="width:30%;"><strong>Nome</strong></th> 
										<th style="width:15%;" class="text-center"><strong>Action</strong></th>
									</tr>
								</thead>
								<tbody class="no-border-y">
									
								</tbody>
							</table>		
							</div>
						</div>
					</div>				
				</div>
			</div>
            
</div>
